:host {
  display: block;
  padding: 24px;
  max-width: 900px;
}

mat-card {
  margin-bottom: 24px;
}

app-donate-form {
  display: block;
  margin-bottom: 32px;
}

h3 {
  margin-bottom: 16px;
}
