<div class="onboarding-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Benvenuto su FundBoost</mat-card-title>
      <mat-card-subtitle>Completa la registrazione per iniziare</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Benvenuto nella nostra piattaforma di crowdfunfing! Clicca qui sotto per terminare la creazione del tuo profilo
        e poter iniziare ad usare FundBoost!
      </p>

      <button mat-raised-button color="primary" (click)="submit()" [disabled]="submitting()">
        Completa registrazione
      </button>
    </mat-card-content>
  </mat-card>
</div>
