@if (loading()) {
  <p>Caricamento progetti...</p>
} @else {
  @if (projects() == null || projects().length == 0){
    <p>Non hai ancora creato nessun progetto</p>
    <mat-card-actions>
      <a mat-button [routerLink]="['/projects/create']">Crea un progetto</a>
    </mat-card-actions>
  }
  <div class="project-grid">
    @for (project of projects(); track project.id) {
      <mat-card class="project-card">
        <mat-card-content>
          <p>{{ project.title }}</p>
          <mat-progress-bar mode="determinate" [value]="progressPercent(project)" />
          <p>{{ project.currentAmount }} / {{ project.targetAmount }} €</p>
          <p>Stato: {{project.projectStatus}}</p>
          <p>Scadenza: {{ project.deadline | date: 'dd/MM/yyyy' }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['/projects', project.id]">Dettagli</a>
        </mat-card-actions>
      </mat-card>
    }
  </div>

  <mat-paginator
    [length]="totalElements()"
    [pageSize]="pageSize()"
    [pageIndex]="pageIndex()"
    [pageSizeOptions]="[6, 9, 18, 30]"
    (page)="onPageChange($event)" />
}
